td {
    text-align: center;
}

.col-md-6 {
    text-align: center;
}

td.cal-day.hover {
    cursor: pointer;
}
td.cal-day.hover:hover{
    background-color: lightgrey !important;
}

.today { background-color: lightgreen; }

.dialog-message {
    width: 500px;
}